<configuration>
  <!-- WE ARE NOT USING BELOW Connection Strings, THESE ARE KEPT FOR EMERGENCY PURPOSES ONLY-->
  <connectionStrings>
    <add name="m_ConnectionString" connectionString="Data Source=10.152.129.87;Initial Catalog=AxcessInputDB; User ID=sa;pwd=LT!@#123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="m_ConnectionString1" connectionString="Data Source=10.153.227.229;Initial Catalog=AxcessInputDB; User ID=sa;pwd=LT!@#123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Password-->
    <add key="Password" value="Twinfield01" />
    <!-- Required Load Balancer-->
    <add key="EnvironmentToPoint" value="RC_Azure" /> <!--Perf-->
    <add key="Perf_LoginMain" value="https://login.perf.twinfield.com"/>
    <add key="Perf_AccountingURL" value="https://accounting.perf.twinfield.com"/>
    <add key="TwfcndURL" value="https://twfcdnwktaae.azureedge.net"/>
    <add key="RC_Azure_LoginMain" value="https://login.rc.dev.twinfield.com"/>
    <add key="RC_Azure_AccountingURL" value="https://accounting.rc.dev.twinfield.com"/>
    <add key="InputDBLocation" value="172.18.100.13" />
    <add key="InputDBName" value="LoadTest" />
    <!-- End: Folder Setup to be created in the client workstation -->
    <!-- Start: File Read/Write chunksize in bytes-->
    <add key="LoadTestDeploymentItemsPath" value="C:\DeploymentDLL" />
    <!-- Start: File Read/Write chunksize in bytes-->
    <add key="UserLoad1" value="25000" />
    <add key="UserLoad" value="1" />
    <add key="StepUser" value="1" />
    <add key="StepUserSec" value="1" />
    <add key="IterationLoop" value="1" />
    <!-- Duration used for firm distribution calculation -->
    <add key="Duration" value="60" />
    <!-- RT Monitor Logging True will print in RT Monitor, False will not print in RTmonitor -->
    <add key="RTMonitorLog" value="True" />
    <!-- InputData configuration -->
    <add key="DataSetToUse_ExtendedTBReport" value="1"/>
    <add key="InputSetOrder_ExtendedTBReport" value="Asc"/>
    <add key="DataSetToUse_NeoFixedAsset" value="1"/>
    <add key="InputSetOrder_NeoFixedAsset" value="Asc"/>
    <add key="DataSetToUse_NeoSalesInvoices" value="1"/>
    <add key="InputSetOrder_NeoSalesInvoices" value="Asc"/>
    <add key="DataSetToUse_ClassicSalesInvoices" value="1"/>
    <add key="InputSetOrder_ClassicSalesInvoices" value="Asc"/>
    <add key="DataSetToUse_CreateTransaction" value="1,2"/>
    <add key="InputSetOrder_CreateTransaction" value="Desc"/>
    <add key="DataSetToUse_ReadTransaction" value="1,2"/>
    <add key="InputSetOrder_ReadTransaction" value="Desc"/>
    <add key="DataSetToUse_CompanySettings" value="1,2"/>
    <add key="InputSetOrder_CompanySettings" value="Desc"/>
    <add key="DataSetToUse_UserAccessSettings" value="1,2"/>
    <add key="InputSetOrder_UserAccessSettings" value="Desc"/>
    <add key="DataSetToUse_DocumentManagement" value="1,2"/>
    <add key="InputSetOrder_DocumentManagement" value="Desc"/>
    <add key="DataSetToUse_PayAndCollectRun" value="1"/>
    <add key="InputSetOrder_PayAndCollectRun" value="Asc"/>
    <add key="DataSetToUse_ExportCustomers" value="1,2"/>
    <add key="InputSetOrder_ExportCustomers" value="Desc"/>
    <add key="DataSetToUse_CreateInvoice" value="1,2"/>
    <add key="InputSetOrder_CreateInvoice" value="Desc"/>
    <add key="DataSetToUse_EditInvoice" value="1,2"/>
    <add key="InputSetOrder_EditInvoice" value="Desc"/>
  </appSettings>
  <controllerSettings>
    <!-- Controller Resides on which Environment, it is not pointing to that particular env. App.config in the framework points to that env.-->
    <!--The purpose of this setting is to just access input db as we can not access input db across environments -->
    
    <add  key="localhost"  value="localhost" description="Twinfield" />
  </controllerSettings>
</configuration>